* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-style: sans-serif;
  }
  html{
    max-width: 100%;
    position: relative;
    width: 100%;

    padding: 10px;
    box-sizing: border-box; /* Đảm bảo kích thước padding không làm tăng kích thước phần tử */ 
  }
  body{
    align-items: center;
  }
  /* CSS cho màn hình máy tính */
.container {
    font-size: 16px;
  }
  
  /* CSS cho điện thoại di động */
  @media (max-width: 768px) {
    .container {
      font-size: 14px;
    }
  } */
  .logo {
    margin-left: 1%;
  }
  
  .logo img {
    height: 40%;
    width: 40%;
  }
  .horizontal-line {
    width: 100%; /* Độ rộng của đường ngang, có thể thay đổi theo ý muốn */
    height: 30px; /* Độ cao của đường ngang, có thể thay đổi theo ý muốn */
    background-color: #54B435; /* Màu sắc của đường ngang, thay đổi theo ý muốn */
    margin-top: 0;
  }
  
  #header {
    width: 100%;
    border: 1px;
    height: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 21px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 30px;
    display: INLINE;
  }
  
  #header ul {
    margin-top: 2%;
    margin-right: 1%;
    display: inline;
  }
  
  #header ul li {
    list-style-type: none;
    display: inline;
    margin-right: 1%;
  }
  
  #header ul li p {
    list-style-type: none;
    display: inline;
    text-align: center;
    justify-content: space-between;
    margin-left: 360px;
  }
  #header ul li p i{
    list-style-type: none;
    color: #17594A;
  }
  #header ul li i{
    list-style-type: none;
    color: #17594A;
  }
  
  #header ul li a:link {
    color: #17594A;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #header ul li a:visited {
    color: #17594A;
    text-decoration: none;
    text-transform: uppercase;
  }
  /* baner */
  .banner-container {
    display: grid;
    place-items: center; /* Căn giữa phần tử con theo cả hai chiều ngang và dọc */
    height: 30%; /* Đặt chiều cao cho vùng banner (thay đổi theo ý muốn) */
    background-color: #f0f0f0; /* Màu nền cho banner (tùy chỉnh theo ý muốn) */
    align-items: center;
  }
  
  .banner-image {
    max-width: 100%; /* Đảm bảo ảnh không vượt quá kích thước của banner */
    max-height: 100%; /* Đảm bảo ảnh không vượt quá kích thước của banner */
  }
  
  /* icon */ 
  
#icon {
    width: 1%;
    height: 2%;
    font-family: Helvetica, sans-serif;
    font-size: 9px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 10px;
    float: center;
    color: #609966;
    justify-content: space-between;
  }
  
  #icon ul {
    display: flex;
    justify-content: space-between;
  }
  
  #icon ul li {
    list-style-type: none;

  }
  
  #icon ul li.left-icon {
    margin-right: 30px;
  }

  #icon ul li a i{
    font-size: 40px;
    margin-left: 40px;
    margin-top: 20px; 
    transform: scale(0.2s);
    display: inline-block;
    font-family: FontAwesome;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: #175932;
    border-radius: 3px;
    color: #f8f8f8;
  }

#icon ul li p {
    font-size: 12px;
  }
  .left-icon{
    margin-right: 20%;
  }
  .left-icon i {
    transition: transform 0.3s ease;
    transform-origin: top center;
  }
  .left-icon p {
    margin-left: 40%;
    text-align: center;
    justify-content: space-between;
  }
  
  .left-icon i:hover {
    transform: scale(1.2); 
  }

/* ads */
/* Yoinked from CodePen, but improved the animation
so that it is smooth among other more minor things */
#ads{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 60%;
    text-align: center;
  }
  .codepen-button {
    display: block;
    cursor: pointer;
    color: white;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
    overflow: hidden;
    padding: 3px;
    isolation: isolate;
    width: 290%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 10%;
  }

  .codepen-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    background-size: 25% 100%;
    animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop .75s linear infinite;
    animation-play-state: paused;
    translate: -5% 0%;
    transition: translate 0.25s ease-out;
  }

  
  
  .codepen-button:hover::before {
    animation-play-state: running;
    transition-duration: 0.75s;
    translate: 0% 0%;
  }
  
  @keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
    to {
      transform: translateX(-25%);
    }
  }
  
  .codepen-button span {
    position: relative;
    display: block;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    background: #9DC08B;
    border-radius: 3px;
    height: 100%;
  }
  /* clip */
#player{
    height: 360px;
    width: 30%;
    margin-left: 10px;
    display: flex;
    margin-top: 3%;
  }